ABOUT-NLS
aclocal.m4
AUTHORS
auto-aux
auto-m4
camlibs
ChangeLog
config.h.in
configure
configure.ac
COPYING
doc
examples
gphoto2
gphoto2-config.in
HACKING.md
INSTALL
installcheck.mk
libgphoto2
libgphoto2.pc.in
libgphoto2_port
libgphoto2-uninstalled.pc.in
MAINTAINERS
Makefile.am
Makefile.in
NEWS
OUTDATED.txt
packaging
po
README
README.md
README.packaging
RELEASE-HOWTO.md
SECURITY.md
TESTERS
tests
